.main {
height: 100vh;
}
.bodyas{
background: #ffffff;
}
.hyper{
    color: black;
    text-decoration:none;
}
.navtas{
background:
#817464;
color:
#fff;
}
.sidebar {
background: #E6E2DF;
color: black;

}



.sidebar a {
color: #000;
text-decoration: none;
display: block;
padding: 20px 10px;
}

.sidebar a:hover {
background:#CDC9C6;
}
.active{
background: #CDC9C6;
border-right: solid 8px #B5B2B1;
}
.card-data{
border: solid 1px;
padding: 20px 50px;
color: #fff;
}
.card-data.book{
background-color: teal;
}
.card-data.category{
background-color: pink;
}
.card-data.user{
background-color: orange;
}
.card-data i{
font-size: 80px;
}
.card-desc{
font-size: 30px;
}
.card-count{
font-size: 30px;
}